.Coupons-customer {
  
    width: 100%;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Coupons-customer > .coupons-container{
    width: 80%;

}
.Coupons-customer > .coupons-container > table ,
.Coupons-customer > .coupons-container > table > tr > th ,
.Coupons-customer > .coupons-container > table > tr > td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;

}

.Coupons-customer > .coupons-container > table > tr {
    width: 100%;
    
}

.Coupons-customer > .coupons-container > table > tr > th,
.Coupons-customer > .coupons-container > table > tr >td {
    width: 20%;
}
.pages {
    display: flex;
    justify-content: center;
  }